<nav class="navbar">
    <div class="nav-container">
        <button class="menu-toggle" (click)="toggleMenu()">
            <span class="hamburger" [class.active]="isMenuOpen"></span>
        </button>
        <ul class="nav-links" [class.active]="isMenuOpen">
            <li class="nav-item">
                <a [routerLink]="'/'" class="nav-link" (click)="closeMenu()"><span class="hash">#</span>Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/about'" class="nav-link" (click)="closeMenu()"><span class="hash">#</span>About</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/projects'" class="nav-link" (click)="closeMenu()"><span
                        class="hash">#</span>Projects</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/skills'" class="nav-link" (click)="closeMenu()"><span class="hash">#</span>Skills</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'/contact'" class="nav-link" (click)="closeMenu()"><span
                        class="hash">#</span>Contact</a>
            </li>
        </ul>
    </div>

</nav>