.hero {
    color: var(--color-text);
    min-height: 80vh;
    display: flex;
    align-items: center;
    margin: 100px 20px;
    box-shadow: var(--shadow-elevation);
    border-radius: 8px;
}

.hero-content {
    width: 100%;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 1.1rem;
    margin: 1rem 5rem;
}

.hero-title {
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 300;
    line-height: 1.2;
    margin: 1rem 5rem;
}

.hero-description {
    max-width: 600px;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem 5rem;
}

.hero-actions {
    margin: 1rem 5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.cta-button {
    border: 2px solid var(--color-primary);
    color: var(--color-text);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s;
}

.cta-button:hover {
    background: var(--color-primary-hover);
    color: var(--color-text);

}

.secondary-button {
    border: 2px solid var(--color-primary);
    background: var(--color-primary);
    color: var(--color-text);
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s;
}

.secondary-button:hover {
    background: var(--color-primary-hover);
    color: var(--color-text);
}

.image {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 100px;
    justify-content: center;
}

.image img {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .hero {
        padding: 1rem;
        min-height: 80vh;
        text-align: center;
    }

    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-actions {
        justify-content: center;
    }

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        z-index: 1;
        filter: blur(8px);
        pointer-events: none;
    }

    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}